<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Danh sách quyển sách</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-list *ngFor="let bookDetail of bookDetails">
      <ion-item button detail="false" routerLink="/form-book-detail" [queryParams]="{id: bookDetail.id}">
        <ion-label>
          <h3>{{ bookDetail.id }}</h3>
          <p>{{ bookDetail.code }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</div>