<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Tạo mới tên cuốn sách</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item fill="solid">
      <ion-label position="floating">Mã</ion-label>
      <ion-input placeholder="Mã quản lý nội bộ của cuốn sách"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select placeholder="Chọn đầu sách">
        <ion-select-option value="1">Hành Tinh Của Một Kẻ Nghĩ Nhiều</ion-select-option>
        <ion-select-option value="2">Luật Hấp Dẫn - Quy Luật Về Sức Mạnh Của Linh Hồn Và Năng Lượng Chữa Lành Cơ Thể Từ Bên Trong</ion-select-option>
        <ion-select-option value="3">Nghệ Thuật Tư Duy Phản Biện</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>
