<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="list-book">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="card"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="search"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
