<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-button expand="block" routerLink="/form-book">Tạo cuốn sách</ion-button>
    <ion-button expand="block" routerLink="/form-book-detail">Tạo đầu sách</ion-button>
    <ion-button expand="block" routerLink="/form-book-category">Tạo danh mục sách</ion-button>
    <ion-button expand="block" routerLink="/login">Đăng nhập</ion-button>
  </ion-content>
</ion-menu>
