<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Tạo mới nhóm sách</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item fill="solid">
      <ion-label position="floating">Tên nhóm sách</ion-label>
      <ion-input placeholder="Nhập tên đầu sách" [(ngModel)]="bookCategory.name"></ion-input>
    </ion-item>
    <ion-item fill="solid">
      <ion-label position="floating">Mô tả nhóm sách</ion-label>
      <ion-input placeholder="Mô tả ngắn về đầu sách" [(ngModel)]="bookCategory.description"></ion-input>
    </ion-item>
  </ion-list>

  <div class="ion-margin-top">
    <ion-button size="large" (click)="onCreate()">
      Tạo
    </ion-button>
    <ion-button size="large" (click)="onUpdate()">
      Cập nhật
    </ion-button>
    <ion-button size="large" (click)="onDelete()">
      Xóa
    </ion-button>
  </div>
</ion-content>
