<app-slide-menu></app-slide-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Danh sách</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-segment value="book">
      <ion-segment-button value="book">
        <ion-label>Đầu sách</ion-label>
      </ion-segment-button>
      <ion-segment-button value="bookDetail">
        <ion-label>Quyển sách</ion-label>
      </ion-segment-button>
      <ion-segment-button value="bookCategory">
        <ion-label>Nhóm sách</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content refreshingText="Loading..."></ion-refresher-content>
    </ion-refresher>

    <ion-list *ngFor="let book of books" class="ion-margin-top">
      <ion-item button detail="false" routerLink="/form-book" [queryParams]="{id: book.id}">
        <ion-label>
          <h3>{{ book.name }}</h3>
          <p>{{ book.description }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</div>
