<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Danh sách nhóm sách</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-list *ngFor="let bookCategory of bookCategorys">
      <ion-item button detail="false" routerLink="/form-book-category" [queryParams]="{id: bookCategory.id}">
        <ion-label>
          <h3>{{ bookCategory.name }}</h3>
          <p>{{ bookCategory.description }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</div>
