<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Đăng nhập</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding"  >
    <ion-list>
      <ion-item fill="solid">
        <ion-label position="floating">Tên đăng nhập</ion-label>
        <ion-input placeholder="Nhập tên tài khoản người sử dụng" [(ngModel)]="username"></ion-input>
      </ion-item>
      <ion-item fill="solid">
        <ion-label position="floating">Mật khẩu</ion-label>
        <ion-input type="password" placeholder="Mật khẩu đăng nhập" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Ghi nhớ</ion-label>
      </ion-item>
    </ion-list>
    <div class="ion-margin-top">
      <ion-button expand="block" (click)="onSubmit()">
        Đăng nhập
      </ion-button>
      <ion-button expand="block" fill="outline">
        Đăng kí
      </ion-button>
      <ion-button expand="block" fill="outline" (click)="onRefreshToken()">
        Làm mới access token
      </ion-button>
    </div>
</ion-content>
