<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Tạo mới tên đầu sách</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item fill="solid">
      <ion-label position="floating">Tên đầu sách</ion-label>
      <ion-input placeholder="Nhập tên đầu sách" [(ngModel)]="book.name"></ion-input>
    </ion-item>
    <ion-item fill="solid">
      <ion-label position="floating">Mô tả đầu sách</ion-label>
      <ion-input placeholder="Mô tả ngắn về đầu sách" [(ngModel)]="book.description"></ion-input>
    </ion-item>
    <ion-item fill="solid">
      <ion-label position="floating">Mã</ion-label>
      <ion-input placeholder="Mã quản lý nội bộ của đầu sách" [(ngModel)]="book.code"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select placeholder="Chọn danh mục sách" *ngFor="let category of listCategory" [(ngModel)]="book.book_category">
        <ion-select-option [value]="category.id">{{ category.name }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <div class="ion-margin-top">
    <ion-button size="large" (click)="onCreate()">
      Tạo
    </ion-button>
    <ion-button size="large" (click)="onUpdate()">
      Cập nhật
    </ion-button>
    <ion-button size="large" (click)="onDelete()">
      Xóa
    </ion-button>
  </div>
</ion-content>
